<h4 class="text-center">Management</h4>
<!-- Tabs navs -->
<ul class="nav nav-tabs mb-3" id="tl-management" role="tablist">
  <li class="nav-item" role="presentation">
    <a
      class="nav-link active"
      id="management-tab-1"
      data-mdb-toggle="tab"
      href="#management-tabs-1"
      role="tab"
      aria-controls="management-tabs-1"
      aria-selected="true"
      >Medications</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="management-tab-2"
      data-mdb-toggle="tab"
      href="#management-tabs-2"
      role="tab"
      aria-controls="management-tabs-2"
      aria-selected="false"
      >Plan of Care</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="management-tab-3"
      data-mdb-toggle="tab"
      href="#management-tabs-3"
      role="tab"
      aria-controls="management-tabs-3"
      aria-selected="false"
      >Problems</a
    >
  </li>
</ul>
<!-- Tabs navs -->

<div class="spinner1">
  <div class="d-flex align-items-center">
    <strong>Loading...</strong>
    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="management-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<!-- Tabs content -->
<div class="tab-content" id="management-content">
  <div
    class="tab-pane fade active show"
    id="management-tabs-1"
    role="tabpanel"
    aria-labelledby="management-tab-1"
  >
    <div id="medications"></div>
    <div class="spinner2">
      <div class="d-flex align-items-center">
        <strong>Loading...</strong>
        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
      </div>
    </div> 
    <!-- Create Medication button -->
    <button id="create-medication" class="btn btn-primary" type="button" name="button">Create Medication</button>   
  </div>
  <div class="tab-pane fade" id="management-tabs-2" role="tabpanel" aria-labelledby="management-tab-2">
    <div id="planofcare"></div>
    <div class="spinner2">
      <div class="d-flex align-items-center">
        <strong>Loading...</strong>
        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
      </div>
    </div>
    <!-- Create Plan Of Care button -->
    <button id="create-planofcare" class="btn btn-primary" type="button" name="button">Create Plan Of Care</button>    
  </div>
  <div class="tab-pane fade" id="management-tabs-3" role="tabpanel" aria-labelledby="management-tab-3">
    <div id="problems"></div>
    <div class="spinner2">
      <div class="d-flex align-items-center">
        <strong>Loading...</strong>
        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
      </div>
    </div>
    <!-- Create Problem button -->
    <button id="create-problem" class="btn btn-primary" type="button" name="button">Create Problem</button>    
  </div>
</div>
<!-- Tabs content -->