{% if table %}
  {% load django_tables2 %}
  {% render_table table %}
{% else %}
  <div class="alert alert-dismissible alert-info fade show">
    <button type="button" class="close">&times;</button>
    <h4 class="alert-heading">Heads up!</h4>
    <p class="mb-0">No care plans to show. <a href="{% url 'plan_of_care_admin:index' %}" class="alert-link">Create</a> one now.</p>
  </div>
{% endif %}

<script type="text/javascript">
$(document).ready(function() {
    
    const planUpdate = $(this).find('.update-plan');
    const planDelete = $(this).find('.delete-plan');
    
    planUpdate.each(function () {
      $(this).modalForm({formURL: $(this).attr('href'), modalID: "#management-modal"});
      $(this).removeAttr('href');
    }); 
    
    planDelete.each(function () {
      $(this).modalForm({formURL: $(this).attr('href'), modalID: "#management-modal"});
      $(this).removeAttr('href');
    });
});
</script>